@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
#container{
	width:1000px;
	height:auto;
	background:#fff;
	margin:0 auto;
	}
#header {
	height: 80px;
	width: 150px;
	position: fixed;
	background:#CCC;
}
#container .subnav a {

	text-decoration: none;
	color: #684029;
}
